<section>
  <a class="dashboard-items" [routerLink]="['home']">
    HOME
  </a>

  <a class="dashboard-items" [routerLink]="['aboutus']">
      ABOUT US
      <i class="fa fa-chevron-circle-down"></i>
  </a>

  <a class="dashboard-items" [routerLink]="['studyabroad']">
    STUDY ABROAD
    <i class="fa fa-chevron-circle-down"></i>
  </a>

  <a class="dashboard-items"[routerLink]="['holiday']" >
    HOLIDAY/VISITS
  </a>

  <a class="dashboard-items" [routerLink]="['aboutus']">
    STP/SERVICES
    <i class="fa fa-chevron-circle-down"></i>
  </a>

  <a class="dashboard-items" [routerLink]="['scholarship']">
    SCHOLARSHIPS
    <i class="fa fa-chevron-circle-down"></i>
  </a>

  <a class="dashboard-items" [routerLink]="['aboutthetest']" >
      ABOUT THE TEST
      <i class="fa fa-chevron-circle-down"></i>
  </a>

  <a class="dashboard-items" [routerLink]="['partnership']">
      PARTNERSHIP
  </a>

  <a class="dashboard-items" [routerLink]="['blogs']" >
      BLOGS
  </a>

  <a class="dashboard-items" [routerLink]="['news']">
      NEWS
  </a>
  <a class="dashboard-items"[routerLink]="['contactus']">
      CONTACT
  </a>
</section>