<section class="suite_glass">
  <div class="home_side_bar">
    <span><img src="basket.jpeg"></span>
    <span>Welcome, SuperSonic</span>
  </div>

  <div class="home_content">
    <div class="content">
        <ul>
          <list>
            <a href="http://nairagrambasket.com/login.php" target="_blank"><img src="assets/5867294d081cfafd323aab20f18216f7.png"></a>
            <span>Basket</span>
          </list>
          <list>
            <a href="http://nairagrambasket.com/ngadmin/controladmin/rootadmin/adm_login.php" target="_blank"><img src="assets/7910544e7efa7dc3c9f003613090328e.png"></a>
            <span>Admin</span>
          </list>
          <list >
            <a href="https://documenter.getpostman.com/view/7963762/T1DjiykE" target="_blank"><img src="assets/a6b39d9387b09aed2de00cbeb42c3bb0.png"></a>
            <span>API Doc</span>
          </list>
          <list>
            <a><img src="assets/card_for_us.png"></a>
            <span>Card4Us Admin</span>
          </list>
          <list>
            <a href="https://dev1.mynairagram.com/" target="_blank"><img src="assets/nairagram_c2c.png"></a>
            <span>Nairagram C2C</span>
          </list>
          <list>
            <a href="https://dev1.mynairagram.com/controlping_b2b/company_b2b/index.php" target="_blank"><img src="assets/admin_c2c.png"></a>
            <span>Nairagram C2C Admin</span>
          </list>
          <list>
            <a href="http://nairagrambasket.com/ngadmin/controladmin/rootadmin/adm_login.php" target="_blank"><img src="assets/task_management.png"></a>
            <span>Task Management</span>
          </list>
          <list routerLink="/suite/fx_onboard">
            <a><img src="assets/kyc.png"></a>
            <span>B2C KYC</span>
          </list>
          <list routerLink="/suite/fx_onboard">
            <a><img src="assets/kyc.png"></a>
            <span>FX KYC</span>
          </list><list>
          <a><img src="assets/kyc.png"></a>
          <span>Gong</span>
        </list>
          <list>
            <a><img src="assets/kyc.png"></a>
            <span>B2C KYC</span>
          </list>
          <list>
            <a><img src="assets/kyc.png"></a>
            <span>FX KYC</span>
          </list>
        </ul>

        <button>More From Nairagram</button>
    </div>
  </div>
</section>
