<section class="footer-container">
  <div class="footer-top">
    <section class="footer-column">
      Cube Links specializes in both Education and Immigration Services.
      We specialize in guiding and placing students into Canadian, Irish, United Kingdom and United States Universities
    </section>
    <section class="footer-column">
      <span class="footer-feature">
        EXPLORE
      </span>
      <ul>
          <li>GALLERY</li>
          <li>TESTIMONIAL</li>
          <li>FAQs</li>
          <li>OPEN LETTERS</li>
        </ul>
    </section>
    <section class="footer-column">
        <span class="footer-feature">
          CONNECT
          </span>
          <ul>
              <li>ALUMINI</li>
              <li>AMBASSADORS</li>
              <li>SOCIAL MEDIA</li>
              <li>ASK THE INSTRUCTOR</li>
              <li>CAREER</li>
            </ul>
    </section>
    <section class="footer-column">
        <span class="footer-feature">
        CONTACTS US
          </span>
          <ul>
            <li>
              23, Rasheed Adigun street, Agura, Ikorodu, Lagos State
            </li>
            <li>+234 7050522615</li>
            <li>cubelinksa1@gmail.com
            </li>
          </ul>
    </section>
  </div>
  <div class="footer-bottom">
    @2019 Cube Links specializes in both Education and Immigration Services. designed by Extreme Tooling solution
  </div>
</section>
