<section class="footer-container">
  <div class="footer-top">
    <section class="footer-column">
      Light Heights specializes in both Education and Immigration Services. 
      We specialize in guiding and placing students into Canadian, Irish, United Kingdom and United States Universities
    </section>
    <section class="footer-column">
      <span class="footer-feature">
        EXPLORE
      </span>
      <ul>
          <li>Gallery</li>
          <li>Gallery</li>
          <li>Gallery</li>
          <li>Gallery</li>
          <li>Gallery</li>
        </ul>
    </section>
    <section class="footer-column">
        <span class="footer-feature">
          CONNECT
          </span>
          <ul>
              <li>Gallery</li>
              <li>Gallery</li>
              <li>Gallery</li>
              <li>Gallery</li>
              <li>Gallery</li>
            </ul>
    </section>
    <section class="footer-column">
        <span class="footer-feature">
        CONTACTS US
          </span>
          <ul>
            <li>Gallery</li>
            <li>Gallery</li>
            <li>Gallery</li>
            <li>Gallery</li>
            <li>Gallery</li>
          </ul>
    </section>
  </div>
  <div class="footer-bottom">
    @2019 Cube Links specializes in both Education and Immigration Services. designed by Extreme Tooling solution
  </div>
</section>