.temp-page {
    display: flex;
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.main {
    border: 3px solid orangered;
    width: 200px;
    font-weight: 700;
    font-size: 19px;
    color: rgb(26, 26, 51);
    height: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateZ(30deg);
    margin: 0 15px;
}
.temp-page-footer {
    
}