.container {
    width: 100%;
    height: 900px;
    display: flex;
}
.row-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(241,254,244,0.95);
    padding: 0 18px;

}
.btn-group-features, .btn-group-auth {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    font-Family: kurd, sans-serif;
    
}
.btn-group-features  >span:hover, .btn-group-auth >span:hover {
    font-size: 16px;
    font-weight: bold;
    font-Family: kurd, sans-serif;
    color: rgb(96, 96, 184);
    
}
.btn-create {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(24, 165, 24);
    overflow: wrap;

    font-size: 15px;
    font-weight: bold;
    font-Family: kurd, sans-serif;
    margin: 0 15px;
}
.btn-group-features {
    display: flex;
    align-items: center;

}
.btn-group-auth {
    display: flex;
    align-items: center;
    
}
.features-with-content {
    margin-left: 6px;
}
.btn-group-features > span, .btn-group-auth > span {
    margin-left: 25px;
}

.map-wrapper {
    width: 100%;
    height: 100vh;
    background: rgba(241,254,244,0.95);
}
.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
    top: 400px;
    width: 450px;

}
.info > h1 {
    font-weight: 900;
    margin-bottom: 15px;

}
.info > h3 {
    font-weight: light;
}
.info > a {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(24, 165, 24);
    overflow: wrap;

    font-size: 16px;
    font-weight: bold;
    font-Family: kurd, sans-serif;
}






































/* .container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.row-side {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
}
.row-content {
    display: flex;
    flex-direction: column;
}
.img-outlook {
background: transparent;
}
h6 {
    color: darkgray;
    font-size: 10px;
    margin: 20px 0;
}
.form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.spn-languages {
    color: darkgray;
    font-size: 13px;
}
.btn-save-group {
    display: flex;
    margin: 25px 0;
}
.btn-icon-container {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid blueviolet;
}
.spn-save {
    margin-left: 15px;
    color: blueviolet;
    font-size: 16px;
}
.content:before {
    content: " ";
    display: flex;
    position: relative;
    left:0;
    right: 0;
    top:0;
    bottom:0;
    background: inherit;
    filter: blur(5px);
}
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .row-side {
        width: 100%;
        min-height: 350px;
    }
    .content {
        
    }
} */