<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
      <li data-target="#demo" data-slide-to="3"></li>
      <li data-target="#demo" data-slide-to="4"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/boy.jpg" alt="Los Angeles" width="1000" height="300">
      </div>
      <div class="carousel-item">
        <img src="assets/exam.jpg" alt="Chicago" width="1000" height="500">
        <div class="carousel-caption">
            <h3>Los Angeles</h3>
            <p>We had such a great time in LA!</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/stemscholarship.jpg" alt="New York" width="1000" height="500">
      </div>
      <div class="carousel-item">
          <img src="assets/visa.jpg" alt="New York" width="1000" height="500">
        </div>
        <div class="carousel-item">
            <img src="assets/graduation.jpg" alt="New York" width="1000" height="500">
          </div>
        
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <app-request></app-request>
  <div class='col-row'>
    <div class='col-item-1'>
        Cube Links is an excellent consultation company which provide 
        international students with opportunities to attend different 
        programs around the world.
    </div>
    <div class='col-item-2'>
        Our goal is to provide prospective international students the 
        opportunity to study in Canada, United Kingdom, United States or Ireland. 
        We work with widely recognized and accredited Universities and Colleges.
      </div>
    <div class='col-item-3'>
        We will provide a thorough assessment of each individual client’s 
        background including education, work experience and skills
         to help identify the best immigration opportunity that meets their needs.
    </div>
  </div>
  <section class="service-row">
    <div class='service-item' >
      <div class="service-img">
        <img src="assets/educat.jpg" />
      </div>
      <div>
          <span class='service-header'>
              OUR EDUCATIONAL SERVICES
          </span>
          <span class='service-content'>
              Our goal is to provide prospective International Students
               the opportunity to study in Canada, United Kingdom or the
                United States with widely recognized accredited…
          </span>
      </div>
    </div>

    <div class='service-item' >
        <div class="service-img">
          <img src="assets/educat.jpg" />
        </div>
        <div>
            <span class='service-header'>
                OUR EDUCATIONAL SERVICES
            </span>
            <span class='service-content'>
                Our goal is to provide prospective International Students
                 the opportunity to study in Canada, United Kingdom or the
                  United States with widely recognized accredited…
            </span>
        </div>
      </div>

      <div class='service-item' >
          <div class="service-img">
            <img src="assets/educat.jpg" />
          </div>
          <div>
              <span class='service-header'>
                  OUR EDUCATIONAL SERVICES
              </span>
              <span class='service-content'>
                  Our goal is to provide prospective International Students
                   the opportunity to study in Canada, United Kingdom or the
                    United States with widely recognized accredited…
              </span>
          </div>
     </div>
  </section>


<div class="quote-container">
    <div class="quote-row">
        <span class="quote-header">
            WE PROVIDE FAST & AFFORDABLE EDUCATIONAL & IMMIGRATION SERVICES
        </span>
        <a class="quote-button" [routerLink]="['home']">
          REQUEST A FREE QUOTE
        </a>
     </div>
</div>
<!--<app-testimonials></app-testimonials>-->
